{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "max-len": [
      "error",
      {
        "code": 150,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-console": "error",
    "no-underscore-dangle": "off"
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}
